.Rproj.user
.Rhistory*
.RData*
.Ruserdata
.Rapp.history
Icon*
Rendered_Notebooks/
Output_figures/
Figures_final/
all_taxa_clean.csv
all_taxa_final.csv
eucs_data.csv
eucs_log_data.csv
eucs_scaled_data.csv